<div class="container">
    <div class="title">
        <h1 class="container-title">Arduino-Printer Control Panel</h1>
    </div>

    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Printer Connection</h2>

                <div>
                    <p>Server: green-frost-printer.local:8080</p>
                    <p class="connection-status">Status: {{connection_status}}</p>
                </div>

                <div>
                    <button (click)="connect()" mat-stroked-button class="connection-connect-button"
                            [disabled]="!controls_enabled">Connect</button>

                    <button (click)="disconnect()" mat-stroked-button class="connection-disconnect-button"
                            [disabled]="!controls_enabled">Disconnect</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Network Configuration</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Printer Settings</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Scroll</h2>

                <input #scroll_lines_input matInput type="number" class="scroll-lines-input" placeholder="Lines">
                <button (click)="scroll(scroll_lines_input.value)" mat-stroked-button class="scroll-button">Scroll</button>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Print Text</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="section">
                <h2 class="section-title">Print Image</h2>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<router-outlet></router-outlet>
