@use '@angular/material' as mat;

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-grid-list {
    height: calc(100vh - 64px);
}

mat-grid-tile {
    @include mat.elevation(2);
}

mat-grid-tile-header {
    @include mat.elevation(3);
}

.grid-tile-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid-button {
    @include mat.elevation(3);
}

.connection-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

mat-progress-spinner {
    margin: 0 20px;
}
