<div class="container">
    <mat-toolbar id="toolbar" color="primary">
        <span>Arduino-Printer Control Panel</span>

        <span class="toolbar-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="info_menu">
            <mat-icon>info</mat-icon>
        </button>

        <mat-menu #info_menu>
            <button (click)="info_menu_open_github()" mat-menu-item>GitHub</button>
        </mat-menu>
    </mat-toolbar>

    <mat-grid-list [cols]="grid_list_columns" rowHeight="452px" gutterSize="2px">
        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Printer Connection</h2>
            </mat-grid-tile-header>

            <div class="grid-tile-content">
                <div>
                    <p>Server: green-frost-printer.local:8080</p>
                    <p class="connection-status">Status: {{connection_status}}</p>
                </div>

                <div class="connection-buttons">
                    <button (click)="connect()" mat-stroked-button class="grid-button"
                            [disabled]="!(controls_enabled && connect_button_enabled)">Connect</button>

                    <div [style.visibility]="connection_action_in_progress ? 'visible' : 'hidden'">
                        <mat-progress-spinner diameter="40" mode="indeterminate" class="connection-spinner"></mat-progress-spinner>
                    </div>

                    <button (click)="disconnect()" mat-stroked-button class="grid-button"
                            [disabled]="!(controls_enabled && disconnect_button_enabled)">Disconnect</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Network Configuration</h2>
            </mat-grid-tile-header>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Printer Settings</h2>
            </mat-grid-tile-header>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Scroll</h2>
            </mat-grid-tile-header>

            <div class="grid-tile-content">
                <input #scroll_lines_input matInput type="number" class="scroll-lines-input" placeholder="Lines">
                <button (click)="scroll(scroll_lines_input.value)" mat-stroked-button class="grid-button"
                        [disabled]="!controls_enabled">Scroll</button>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Print Text</h2>
            </mat-grid-tile-header>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-grid-tile-header>
                <h2>Print Image</h2>
            </mat-grid-tile-header>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<router-outlet></router-outlet>
